<tr id="expense_<%= expense.id %>">
    <td class="date">
        <div class="day"><%= expense.date.to_formatted_s(:short).split(' ')[0] %></div>
        <div class="month"><%= expense.date.to_formatted_s(:short).split(' ')[1] %></div>
    </td>
   
    <td>
        <div>
        <span class="type"><%= expense.type.name %></span>
        </div>
        <div>
        <span class="concept"><%= expense.concept %></span>
        </div>
    </td>
   
    <td class="category text-right"><%= expense.category.name %></td>
   
    <td class="text-right" style="width: 170px;">
        <div class="amount">$<%= expense.amount %></div>

        <div class="actions">
        <%= link_to edit_expense_path(expense), remote: true do  %>
            <span class="glyphicon glyphicon-edit"></span> Edit
        <% end %>
        <%= link_to expense, remote: true, :method => :delete, 
            data: { confirm: "Are you sure to delete #{expense.concept} expense?" } do %>
            <span class="glyphicon glyphicon-trash"></span> Delete
        <% end %>
        </div>
    </td>
</tr>
